.clientListContainer {
  padding: 20px;
  background-color: #ecba4b;
  border-radius: 10px;
  margin: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clientListContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ecba4b;
  border: 1px solid #ddd;
}

.clientListContainer th,
.clientListContainer td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.clientListContainer th {
  background-color: #ffe4c4;
  color: #333;
  font-weight: bold;
}

.clientListContainer tr:nth-child(even) {
  background-color: #fff7eb;
}

.clientListContainer tr:hover {
  background-color: #fde2c4;
}

.searchInput {
  margin-bottom: 20px;
}

.noData {
  text-align: center;
  font-size: 18px;
}

.viewProfileButton {
  margin-bottom: 20px;
}

.tableTitle {
  text-align: center;
  background-color: #ffe4c4;
  color: #333;
  font-weight: bold;
}
