.user-profile {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ECBA4B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Montserrat;
}

.user-profile h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.loading,
.error,
.no-data {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.error {
  color: #e53e3e;
}

.user-details {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ECBA4B;
}

.user-details th,
.user-details td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.user-details th {
  background-color: #ffe4c4;
  color: #333;
  font-weight: bold;
}

.user-details tr:nth-child(even) {
  background-color: #fff7eb;
}

.user-details tr:hover {
  background-color: #fde2c4;
}

.user-profile .mantine-Button-root {
  display: block;
  margin: 20px auto;
}