.promotions-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ECBA4B;

  }
  
  .promotion-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ECBA4B;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  